.bg-pink {
  background-color: #f72585;
}

.bg-purple {
  background-color: #7209b7;
}

.bg-purple2 {
  background-color: #560bad;
}

.bg-footer {
  background-color: #3a0ca3;
}

.bg-login {
  background-color: #4361ee;
}
